.img{
        width: 100%;
}
.vikram{
        margin-top: -700px;
        margin-left: 550px;
        color:white;
        font-size: 25px;
}


.paybtn{
            width: 100px;
            height: 40px;
            margin-top: 20px;
            margin-left: 620px;
            background-color: black;
            color: white;
            
}


