.body{
    background-color: black;
}.title1{
    margin-left: 50px;
    margin-top: 20px;
}
.movies{
    margin-left:650px;
}
.trailers{
    margin-left: 80px;
}
.sports{
    margin-left: 80px;
}
.history{
margin-left: 80px;
}
.div1{
padding:20px;
border:1px solid white;
background-color: rgb(251, 184, 60);
}

.masterimg{
            width: 220px;
            height: 310px;
            margin-left: 50px;
            margin-top: -120px;
        
            
}


.master{
            margin-left: 380px;
            color:white;
            margin-top: -270px;
}


.booktickets:hover{
    transform: scale(1.1);
}
.aboutthemovie{
                margin-left: 380px;
                margin-top: 0px;
                color: white;
}
.ateenager{
            margin-left: 380px;
            margin-top: 30px;
            color: white;
}

  .div0{
                border:1px solid white;
                background-color:rgb(211, 138, 28);
   } 
.buynow{
    width:100px;
    height:30px;
    margin-left:380px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: orange;
    border: transparent;       
}
.buynow:hover{
    transform: scale(1.1);
}
.ice1{
        display: flex;
        justify-content: space-evenly;
        margin-left: -50px;
        margin-top:140px;
}
.ice1:hover{
        transform: scale(1.1);
}
.content1{
    margin-left: 220px;
    margin-top: 20px;
    color: white;
}
.content2{
    margin-left: 650px;
    margin-top: -70px;
    color: white;
}
.content3{
    margin-left: 1100px;
    margin-top: -70px;
    color: white;
}
.ice2{
    display: flex;
    justify-content: space-evenly;
    margin-left: -50px;
    margin-top:140px;
}
.ice2:hover{
    transform: scale(1.1);
}
.content4{
    margin-left: 210px;
    margin-top: 20px;
    color: white;
}
.content5{
    margin-left: 650px;
    margin-top: -70px;
    color: white;
}
.content6{
    margin-left: 1100px;
    margin-top: -70px;
    color: white;
}
.buynow1{
    width:100px;
    height:30px;
    margin-left:220px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: orange;
    border: transparent;      
}

.buynow2{
    width:100px;
    height:30px;
    margin-left:660px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: orange;
    border: transparent;      
}

.buynow3{
    width:100px;
    height:30px;
    margin-left:1110px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: orange;
    border: transparent;      
}
.buynow4{
    width:100px;
    height:30px;
    margin-left:220px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: orange;
    border: transparent;      
}

.buynow5{
    width:100px;
    height:30px;
    margin-left:660px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: orange;
    border: transparent;      
}

.buynow6{
    width:100px;
    height:30px;
    margin-left:1100px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: orange;
    border: transparent;      
}

