.body{
    background-color:black;
}.title1{
margin-left: 50px;
margin-top: 20px;
}
.movies{
margin-left:50px;
}
.trailers{
margin-left: 80px;
}
.sports{
margin-left: 80px;
}
.history{
margin-left: 80px;
}
.div1{
padding:20px;
border:1px solid black;
background-color: lightcyan;
width: 100%;
}

.content{
        margin-left: 1200px;
        color: rgb(78, 180, 198);
        margin-top: -18px;
}
.div2{
        border: 1px solid black;
        background-color: rgb(78, 180, 198);
        width:1488px;
        height:100px;
}

.div3{
        border:1px solid black;
        background-color:rgb(78, 180, 198);
        width: 1490px;
        height: 150px;
        margin-top: 15px;

}
.time1{
        margin-top: 30px;
        margin-left: 400px;
    
        
}
.list1{
        display: flex;
        padding: 0px 20px 0px 20px;
        position: relative;
        bottom:15px;
      
        
}
.list2{
    display: flex;
    padding: 0px 20px 0px 20px;
    position: relative;
    position: relative;
    bottom:10px;
    margin-top: 30px;

}
.btn1{
   margin: 0px 20px 0px 20px;     
}
.btn2{
        margin: 0px 20px 0px 20px;     
}    
.theater1{
        position:relative;
        right:350px;
        top:20px;
}
.all2{
        margin-left: 300px;
}
.all3{
        margin-left: 300px;
}
.all4{
        margin-left: 300px;
}
.all5{
        margin-left: 300px;
}
.all6{
        margin-left: 300px;
}



