.img{
        width: 100%;
}
.form{
                margin-top: -860px;
                margin-left: 600px;
}
.signup{
                margin-left: 50px;
}
.welcome{
                margin-left: 625px;
                margin-top: -450px;
}