.body{
    background-color:black;
}
.title1{
position: relative;
left: 50px;
font-weight: bold;
}
.movie{
position:relative;
bottom:55px;
left: 750px;
color:black;
font-size: 20px;
text-decoration: none;

}
.movie:hover{
color: white;
}
.trailers{
position:relative;
bottom:55px;
left:780px;
color:black;
font-size: 20px;
text-decoration: none;
color: black;
}
.trailers:hover{
color: white;
}
.sports{
position:relative;
bottom:55px;
left: 810px;
color:black;
font-size: 20px;
text-decoration: none;
color: balck;
}
.sports:hover{
color: white;
}
.about{
position:relative;
bottom:55px;
left: 840px;
color:black;
font-size: 20px;
text-decoration: none;

}
.about:hover{
color: white;
}
.div0{
border:1px solid black;
background-color:rgb(78, 180, 198);
height: 60px;
} 

.theaterlist{
position:relative;
bottom:55px;
left: 870px;
color:black;
font-size: 20px;
text-decoration: none;

}
.theaterlist:hover{
color: white;
}
h2{
    color: white;
}
p{
    color: white;
}