body{
    background-image: url(https://s.yimg.com/uu/api/res/1.2/qBHUXfHdi66x9iQkdLjvKg--~B/aD00NTA7dz03NTQ7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/the_conversation_464/9ad2b32cbbff8bc8df1cad25d00f42c0);
    background-repeat: no-repeat;
    background-size: 100%;
}
.all{
    background-color: white;
    padding-top: 20px;
    width:35%;
    margin-left:30%;
    margin-top: 50px;
    border-radius: 20px;
    padding-bottom: 20px;
}
.movietime h1,h3{
    font-family: Arial, Helvetica, sans-serif;
}
.movietime p{
    font-family: Arial, Helvetica, sans-serif;
}
.content1{
    display: flex;
    justify-content: space-evenly;
}
.movieimg img{
    width:160px;
    border-radius: 20px;
}
.ticket{
        text-align: center;
}

.content2{
    display: flex;
    justify-content: space-around;
}
.content3 h1{
    margin-left: 40px;
}
.rs1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.rs2{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
a button{
    margin-left: 37%;
    cursor: pointer;
    font-size: 20px;
    padding: 15px;
    border-radius: 10px;
    background-color: #ebe834;

}

a button:hover{
    transform: scale(1.1);
    transition: 1.2s;
}