body{
    background-color: black;
}
.img1{
width:700px;
height: 200px;
margin-left: 400px;
margin-top: 50px;
}
.m{
margin-top: -140px;
margin-left:680px ;
font-family: 'Oswald', sans-serif;
}
.row1{
display: flex;
flex-direction: row;
margin-left: 100px;
margin-top: 40px;
justify-content: space-evenly;
}


img:hover{
    transform: scale(1.5);
}
.row{
        position: relative;
        right: 350px;
        top: 80px;
}
.row2{
        position: relative;
        left:250px;
        bottom:330px;

}
.btn{
       position: relative;
       left: 690px;
       bottom: 250px;
       width: 100px;
       height: 45px;
       background-color:rgb(78, 180, 198);
}
.btn:hover{
        transform: scale(1.1);
}