.body{
    background-color: black;
}
.title1{
        position: relative;
        left: 50px;
        font-weight: bold;
        font-family: 'Oswald', sans-serif;
    }
    .movie{
        position:relative;
        bottom:43px;
        left: 800px;
        color:black;
        font-size: 20px;
        font-family: 'Oswald', sans-serif;
    }
    .trailers{
        position:relative;
        bottom:43px;
        left: 850px;
        color:black;
        font-size: 20px;
        font-family: 'Oswald', sans-serif;
    }

    .about{
        position:relative;
        bottom:43px;
        left: 950px;
        color:black;
        font-size: 20px;
        font-family: 'Oswald', sans-serif;
    }
 
    .div0{
        border:1px solid black;
        background-color:rgb(78, 180, 198);
        height: 60px;
} 

.masterimg{
            width: 200px;
            height: 280px;
            position:relative;
            top: 50px;
            font-family: 'Oswald', sans-serif;
            
}
.incinemas{
            width:202px;
            height:30px;
            position: relative;
            top: 20px;
            background-color:rgb(78, 180, 198);
            font-family: 'Oswald', sans-serif;             
}
.master{
            position: relative;
            bottom: 230px;
            left: 300px;
            color:white;
          
}

.time{
    position: relative;
    left: 300px;
    bottom: 255px;
        color:white;
        font-family: 'Oswald', sans-serif;
}
.genres{
    position: relative;
    left: 360px;
    bottom: 255px;
    margin-top:-40px;
    color:white;
    font-family: 'Oswald', sans-serif;
}
.releaseddate{
    position: relative;
    left: 440px;
    bottom: 255px;
    color:white;
    margin-top: -40px;
    font-family: 'Oswald', sans-serif;
}
.booktickets{
                position: relative;
                left: 300px;
                bottom: 240px;
                width: 120px;
                height: 40px;
                font-family: 'Oswald', sans-serif;
                font-weight:bold;
                font-size: 16px;
                background-color:rgb(78, 180, 198);
                border: transparent;
}
.booktickets:hover{
    transform: scale(1.1);
}
.aboutthemovie{
               position: relative;
               bottom:170px;
                color: white;
                font-family: 'Oswald', sans-serif;
}
.ateenager{
    position: relative;
    bottom: 170px;
            color: white;
            font-family: 'Oswald', sans-serif;
}
.cast{
    position: relative;
    bottom: 170px;
    font-family: 'Oswald', sans-serif;
    text-align:center;
}

.images{
        border-radius: 20px;
        justify-content: space-evenly;
}
.div{
        height: 300px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: white;
        border-radius: 20px;
        margin: 0 30%;
}

.cast img {
    width: 100px;
    height: 100px;
    border-radius: 30px;
    
}
.section1{
        position: relative;
        left: 400px;
}
.section2{
            position: relative;
            left:400px;
}
.video{
    margin-left: 450px;
    margin-top: -300px;
}