.body{
        background-color:black;
    }
    .title1{
    position: relative;
    left: 50px;
    font-weight: bold;
    }
    .movie{
    position:relative;
    bottom:43px;
    left: 780px;
    color:black;
    font-size: 20px;
    text-decoration: none;
    
    }
    .movie:hover{
    color: white;
    }
    .trailers{
    position:relative;
    bottom:43px;
    left:820px;
    color:black;
    font-size: 20px;
    text-decoration: none;
    
    }
    .trailers:hover{
    color: white;
    }
    
    .about{
    position:relative;
    bottom:43px;
    left: 810px;
    color:black;
    font-size: 20px;
    text-decoration: none;
 
    }
    .about:hover{
    color: white;
    }
    .div0{
    border:1px solid black;
    background-color:rgb(78, 180, 198);
    height: 60px;
    } 
    
    .theaterlist{
    position:relative;
    bottom:55px;
    left: 770px;
    color:black;
    font-size: 20px;
    text-decoration: none;
   
    }
    .theaterlist:hover{
    color: white;
    }
    .more{
        position:relative;
        bottom:55px;
        left: 800px;
        color:black;
        font-size: 20px;
        text-decoration: none;
        color: black;
        }
        .more:hover{
        color: white;
        }


.content{
        margin-left: 1200px;
        color: rgb(78, 180, 198);
        margin-top: -65px;
        margin-left: 1300px;
        color: black;
}
.div2{
        border: 1px solid black;
        background-color: rgb(78, 180, 198);
        width:1488px;
        height:100px;
}

.div3{
        border:1px solid black;
        background-color:rgb(108, 181, 196);
        width: 1100px;
        height: 150px;
        margin-top: 15px;
        margin-left: 170px;

}
.time1{
        margin-top: 30px;
        margin-left: 400px;
    
        
}
.list1{
        display: flex;
        padding: 0px 20px 0px 20px;
        position: relative;
        bottom:15px;
        
}
.list2{
    display: flex;
    padding: 0px 20px 0px 20px;
    position: relative;
    position: relative;
    bottom:10px;
    margin-top: 30px;

}
.btn1{
   margin: 0px 20px 0px 20px; 
   color: black;    
   background-color: rgb(78, 180, 198);
   border: none;
   
}
section div a{
    text-decoration:none;
}
.btn2{
        margin: 0px 20px 0px 20px;    
        color: black;    
        background-color: rgb(78, 180, 198);
        border: none; 
}    
.theater1{
        position:relative;
        right:350px;
        top:20px;
}
.all2{
        margin-left: 150px;
}
.all3{
        margin-left: 150px;
}
.all4{
        margin-left: 130px;
}
.all5{
        margin-left: 130px;
}
.all6{
        margin-left: 130px;
}



