body{
        background-color:black;
}
.img1{
        width: 300px;
        height: 200px;
        position: relative;
        left: 300px;
}
.img2{
    position: relative;
    bottom: 40px;
    left: 500px;
    width: 200px;
    height: 100px;
}
.img3{
    position: relative;
    top: 100px;
    left: 100px;
}
h1{
    color: white;
    position: relative;
    left: 500px;
    bottom: 300px;
}
h2{
        color: white;
        position: relative;
        bottom: 300px;
        left: 500px;
}
button{
            background-color: orange;
            color: black;
            width: 100px;
            height: 40px;
            position: relative;
            bottom: 280px;
            left: 500px;
}
button:hover{
        transform:scale(1.1);
}
.img4{
    position: relative;
    bottom: 30px;
    left: 100px;
    width: 300px;
}
.head{
    color: white;
    position: relative;
    left: 500px;
    bottom: 480px;
}
.content{
    color: white;
    position: relative;
    left: 500px;
    bottom: 480px;
}       
.booknow2{
    background-color: orange;
    color: black;
    width: 100px;
    height: 40px;
    position: relative;
    bottom: 467px;
    left: 500px;
}
.booknow2:hover{
    transform:scale(1.1);
}
.sl{
        position: relative;
        bottom: 180px;
}
.img5{
    position: relative;
    bottom: 230px;
    left: 100px;
    width: 300px;
}
.head2{
    color: white;
    position: relative;
    left: 500px;
    bottom: 660px;
}
.content2{
    color: white;
    position: relative;
    left: 500px;
    bottom: 660px;
}
.sl2{
    position: relative;
        bottom: 350px;
}
.booknow3{
    background-color: orange;
    color: black;
    width: 100px;
    height: 40px;
    position: relative;
    bottom: 631px;
    left: 500px;
}
.booknow3:hover{
    transform:scale(1.1);
}