body{
    background-color: black;
    /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSoCYEE7Q_BoyYH7-4627KY3v3CP0OEymfkZg&usqp=CAU); */
}
h2{
    color: white;
    font-size: 30px;
}
.heading{
         color: yellow; 
        /* background-color: gray; */
        cursor: pointer;
        display: flex;
        gap: 30px;
        width: 1100px;
        font-size: 18px;
        font-weight: bold;
        margin-left: 30px;
}
.p{
    margin-left:20px;
    font-size: 18px;
    
}
.heading:hover{
    color: yellow;
    /* background-color: black; */
}
.namtime,h4{
    margin-left: 30px;
    color: white;
    cursor: pointer;
   
}
.whitebox{
    /* background-color: white; */
    color: white;
    border: 1px solid black;
    width: 1100px;
    margin-left: 30px;
}
.nametime{
    display: flex;
    justify-content: space-between;
}
.container{
    margin-left: 150px;
    border:3px solid white;
    width: 1150px;
    margin-top: 50px;
    font-size: 20px;
}
hr{
    
    border: 2px solid white;
}
h5{
    color: white;
}
.footer .box-container{
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap:5rem;
    margin-right: .8rem;
}
.footer .box-container .box h3{
    font-size: 20px;
    color: gray;
    padding: 1rem 0;
    margin-left: 8.5rem;
    
}
.footer .box-container .box h3:hover{
    color:#FFCE26;
}

.footer .box-container .box a{
    display: block;
    font-size: 20px;
    color: gray;
    padding: 1rem 0;
    margin-right: 2rem;
    margin-left: 7.5rem;
    text-decoration: none;    
}

.footer .box-container .box a:hover{
    color: #FFCE26;
}

.footer .box-container .box a i{
    padding-right: .5rem;
    color: gray;
}
.footer .box-container .box a:hover i{
    padding-right:1rem;
    color: #FFCE26;
}
.footer .credit{
    padding: 1rem;
    padding-top: 2rem;
    margin-top: 2rem;
    text-align: center;
    font-size: 20px;
  color: gray;
    border-top: .1rem solid gray;
}
.footer .credit span{
    color:var(--green);
}
