*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.profile-img-box{
        position: relative;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        overflow: hidden;
}
img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}