.whitebox{
    width: 300px;
    height: 600px;
    border: 2px solid black;
    margin-left: 1000px;
    margin-top: -700px;
    padding: 20px;
}
.title2{
    color: black;
    margin-top: 40px;
    margin-left: 30px;
}
.dt{
    color: black;
}
.btn2{
    padding: 5px;
    width: 100px;
    margin-top: 30px;
}