
.body{
    background-color:black;
}
.title1{
position: relative;
left: 50px;
font-weight: bold;
}
.movie{
    position:relative;
    bottom:43px;
    left: 800px;
    color:black;
    font-size: 20px;
}
.trailers{
    position:relative;
    bottom:43px;
    left: 850px;
    color:black;
    font-size: 20px;
}

.about{
    position:relative;
    bottom:43px;
    left: 950px;
    color:black;
    font-size: 20px;
}

.div0{
    border:1px solid black;
    background-color:rgb(78, 180, 198);
    height: 60px;
} 
.img{
    position: relative;
    left: 80px;
    top: 50px;
}
.img:hover{
    transform: scale(1.1);
}
.content{
            color: white;
            position: relative;
            left: 950px;
            bottom: 570px;
}
.img1{
            position: relative;
            left: 920px;
            bottom:450px;
}
.img1:hover{
        transform: scale(1.1);
}
.img2{
    position: relative;
    left: 950px;
    bottom:450px;

}
.img2:hover{
    transform: scale(1.1);
}
.img3{
    position: relative;
    left: 413px;
    bottom:240px;
}
.img3:hover{
    transform: scale(1.1);
}
.img4{
    position: relative;
    left: 440px;
    bottom:240px;

}
.img4:hover{
    transform: scale(1.1);
}
p{
        color: white;
        position: relative;
        bottom: 170px;
        left: 100px;
}
h2{
        color: white;
        position: relative;
        left: 1000px;
        bottom: 340px;
}
button{
        background-color: rgb(78, 180, 198);
        color: black;
        position: relative;
        left: 1050px;
        bottom: 335px;
        width: 100px;
        height: 40px;
}
button:hover{
        transform: scale(1.1);
}