
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.banner {
    height: 300px;
    width: 60%;
    background: fixed;
    background-repeat: no-repeat;
    margin-left: 20%;
}

#container {
    display: flex;
    margin-left: 23%;
}

.seat {
    width: 40px;
    height: 25px;
    padding-top:10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin: 5px;
    text-align: center;
    align-items: center;
    background-color: rgb(127, 121, 121);
    cursor: pointer;
}

.seat.selected {
    background-color: #edd605;
    cursor: not-allowed;
}

#selected-seats {
    color: #fff;
    display: flex;
    gap: 10px;
    font-size: 18px;
}

#seat-select {
    font-size: 25px;
    padding: 5px 8px;
    color: white;
    border: 1px #bd4747 solid;
    background-color: #d56565;
    width: 35px;
    border-radius: 10px;
    text-align: center;
    height: 35px;
    margin-top: 10px;
}

#next-arrow {
    background-color: #edd605;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-radius: 40px;
    position: relative;
    left: 10px;
    top: 50px;
}
body{
    background-color: black;
}
.banner{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.banner h1{
    color:#edd605;
}
.seat_disclaimer{
   display: flex;
   margin-left: 37%;
   gap:20px;
}
.seat-prime{
    background-color:  gray;
    height: 28px;
    width: 35px;
   margin-top: 30px;
    text-align: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.seat-prime.selected {
    background-color:#edd605;
    margin-top: 30px;
}


 .total_seatandcost{
    display: flex;
    padding: 25px;
    flex-direction: column;
    background-color: #ffffff;
    color:black;
    width: fit-content;
    height: fit-content;
    margin-top: 40px;
    margin-left: 10%;
}
.total_seatandcost{
    display: flex;
    justify-content: space-between;
    background-color: #FFCE26;
}
.seat_total{
    display: flex;
    flex-direction: column;
}
.seat_info{
    display: flex;
    flex-direction: column;
}
.seat_total h3{
    font-size: 20px;
    margin-left: 40px;
    margin-top: 30px;
    color: black;
} 
.whole-theatre-details{
    display: flex;
    justify-content: center;
    align-items: center;
}
.to_flex{
    display: flex;
}