*{
        padding: 0px;
        margin: 0px;
}
.main{
        display: flex;
        justify-content: flex-start;
       
}
.movietime{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 350px;
        padding-left: 40px;
}
.movietime h1 {
        color:white;
}
.movietime h3{
        color:white;
}
a button{
        width:70px;

}
a p{
        color:white;
}
.book{
        width:140px;
        height: 50px;
        background-color: yellow;
        border-radius: 10px;
}
.abouthead{
        margin-top: 50px;
}
.about{
        margin-left:30px ;
        margin-top: 10px;
}
.castimages{
        display: flex;
        gap:30px;
        margin-left: 50px;
}
.cast{
        margin-left: 40px;
        position:relative ;
        top:60px;

}
.castimages{
        text-align: center;
        margin-top: 60px;
}
.cast1 img{
        width:100px;
        border-radius: 90px;
}
.cast2 img{
        width:100px;
        border-radius: 90px;
}
.cast3 img{
        width:100px;
        border-radius: 90px;
}
