body{
    background-color: black;
    height: 300px;
}
.container{
    border-style: solid;
    max-width:fit-content;
    padding:30px 30px 50px 30px;
    border-radius: 0px 20px 20px 0px;
    background-color:rgba(243, 243, 243, 0.868);
    border-color:rgba(243, 243, 243, 0.868);
    box-shadow: 5px 0px 0px 0px;
}
.box{
    width:250px;
    height:30px;
    border-radius: 5px;
}
.img{
    filter: blur(7px);
}
.img-small{
    border-radius: 20px 0px 0px 20px;
}
.password{
    position:relative;
    left:130px;
    bottom:10px;
    color:rgb(110, 105, 105);
}
.btn{
    position:relative;
    left:70px;
    background-color: rgb(72, 72, 206);
    color:yellow;
    font-weight: bold;
    padding:10px 30px;
    border-radius: 10px;
    border-color:white;
    cursor: pointer;
    top: 10px;
}
.btn1{
    position:relative;
    top:20px;
    left:20px;
    background-color: rgb(245, 245, 249);
    color:black;
    padding:10px 10px 10px 50px;
    border-radius: 10px;
    border-color:white;
}
.btn2{
    position:relative;
    top:40px;
    left:20px;
    background-color: rgb(69, 69, 205);
    color:white;
    padding:10px 10px 10px 50px;
    border-radius: 10px;
    border-color:white;
}
.heading{
    margin-left:70px;
    font-size:xx-large;
    color:black;
    
}
.facebook{
    position: relative;
    top:50px;
    right:180px;
}
.google{
    position: relative;
    top:25px;
    right:155px;
}
.flex{
    display:flex;
    position:relative;
    bottom:700px;
    left:250px;
}
.font-box{
    margin-top:10px;
}
.signup{
        position: relative;
        left: 100px;
        bottom:50px;
}
.font{
    color:black;
}
.font-box{
    color:black;
}
.password{
    color:black;
}

@media only screen and (max-width:900px) {
       .img{
            height: 1200px;
       }
}

.footer .box-container{
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap:5rem;
    margin-right: .8rem;
}
.footer .box-container .box h3{
    font-size: 20px;
    color: gray;
    padding: 1rem 0;
    margin-left: 8.5rem;
    
}
.footer .box-container .box h3:hover{
    color:#FFCE26;
}

.footer .box-container .box a{
    display: block;
    font-size: 20px;
    color: gray;
    padding: 1rem 0;
    margin-right: 2rem;
    margin-left: 7.5rem;
    text-decoration: none;    
}

.footer .box-container .box a:hover{
    color: #FFCE26;
}

.footer .box-container .box a i{
    padding-right: .5rem;
    color: gray;
}
.footer .box-container .box a:hover i{
    padding-right:1rem;
    color: #FFCE26;
}
.footer .credit{
    padding: 1rem;
    padding-top: 2rem;
    margin-top: 2rem;
    text-align: center;
    font-size: 20px;
  color: gray;
    border-top: .1rem solid gray;
}
.footer .credit span{
    color:var(--green);
}