.img{
    width: 100%;
}
.form{
            margin-top: -750px;
            margin-left: 600px;
}
.signup{
            margin-left: 100px;
}
.welcome{
            margin-left: 625px;
            margin-top: -350px;
}