.img{
    width: 100%;
}
.form{
            margin-top: -700px;
            margin-left: 600px;
            font-family: 'Oswald', sans-serif;
}
.signup{
            margin-left: 100px;
            font-family: 'Oswald', sans-serif;
}

h2{
    margin-top: -150px;
    margin-left: 660px;
    font-family: 'Oswald', sans-serif;
}