.body{
        background-color:black;
}
.title1{
margin-left: 50px;
margin-top: 20px;
font-weight: bold;
}
.movie{
margin-left:50px;
color:black;
font-size: 20px;
}
.trailers{
margin-left: 80px;
color:black;
font-size: 20px;
}
.sports{
margin-left: 80px;
color:black;
font-size: 20px;
}
.about{
margin-left: 80px;
color:black;
font-size: 20px;
}
.div1{
padding:20px;
border:1px solid black;
background-color:rgb(78, 180, 198);
}
.div0{
border:1px solid black;
background-color:rgb(78, 180, 198);
} 



.movies {
margin: 0 10%;
height: 40vh;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
align-items: center;
padding: 20px;
}

.list1 {
display: flex;
flex-direction: column;
align-items: center;

}
.list1 h2 {
color: white;
font-size: 20px;
}
.list1 img {
width: 200px;
height: 280px;
}
.list1 a button {
width: 200px;
padding: 10px 20px;
border: 2px solid black;

color: black;
font-size: 16px;
font-weight: bold;
background-color:rgb(78, 180, 198);
}
.list1 a button:hover{
                transform: scale(1.1);
}  



